.swal-button {
    border-width: medium;
    background: #ed1c24;
    border-radius: 0;
    color: white;
    padding: .5rem 1.1rem;
    font-size: 1.2rem;
    margin: 1rem;
}
.swal-button:focus {
    border-color: #ed1c24;
    box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.25);
}
.swal-button:hover {
    background-color: #c4191e !important;
}
.swal-overlay--show-modal .swal-modal {
    border-radius: 0 !important;
}
.button-margin {
    margin: 1rem auto;
}
.btn-edit {
    border: 1px solid #ed1c24;
    border-radius: 0;
}
.btn-red:focus {
    border-color: #ed1c24;
    box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.25);
}
.btn-edit:focus {
    border-color: #ed1c24;
    box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.25);
}
.remove {
    color: #ed1c24;
}
.remove:hover {
    color: #c4191e;
}
.edit-style {
    color: #586168;
}
.edit-style:hover {
    color: #444c53;
}
.dropdown-menu {
    background-color: white;
    border: 1px solid lightgray !important;
}
.btn-white {
    border: 1px solid #ed1c24;
}
.btn-white:focus {
    border-color: #ed1c24;
    box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.25);
}
.invalid {
    color: #ed1c24;
}
.background {
    -webkit-filter: blur(1.5px)
}
